RST b
SWP h
LOAD 4611686018427387903
INC a
STORE 4611686018427387903
SWP h
RST b
INC b
SHL b
SHL b
SHL b
SHL b
DEC b
SHL b
RST c
JUMP 75
RST d
INC d
SHL d
SHL d
SHL d
DEC d
RST a
SWP h
LOAD 4611686018427387903
ADD h
SWP e
RST a
ADD d
SWP d
RST f
RST g
INC g
RST a
ADD e
SUB d
RST a
ADD d
SUB e
JPOS 43
SHL d
SHL g
JUMP 33
RST a
ADD g
JZERO 64
RST a
ADD e
SUB d
RST a
ADD d
SUB e
JPOS 61
RST a
ADD e
SUB d
SWP e
RST a
ADD f
ADD g
SWP f
SHR d
SHR g
JUMP 43
RST a
ADD f
SWP c
RST a
ADD c
WRITE
SWP h
LOAD 4611686018427387903
INC a
STORE 4611686018427387903
SWP h
RST a
SWP h
LOAD 4611686018427387903
ADD h
SUB b
JPOS 82
JUMP 16
HALT
