READ
SWP b
RST a
ADD b
SWP c
RST a
ADD b
SWP b
RST d
RST a
ADD b
JZERO 28
RST a
ADD b
SWP e
SHR e
SHL e
RST a
ADD b
SUB e
JZERO 25
RST a
ADD d
ADD c
SWP d
SHL c
SHR b
JUMP 9
RST a
ADD d
SWP b
RST a
ADD b
SWP c
RST a
ADD b
SWP b
RST d
RST a
ADD b
JZERO 57
RST a
ADD b
SWP e
SHR e
SHL e
RST a
ADD b
SUB e
JZERO 54
RST a
ADD d
ADD c
SWP d
SHL c
SHR b
JUMP 38
RST a
ADD d
SWP b
RST a
ADD b
SWP c
RST a
ADD b
SWP b
RST d
RST a
ADD b
JZERO 86
RST a
ADD b
SWP e
SHR e
SHL e
RST a
ADD b
SUB e
JZERO 83
RST a
ADD d
ADD c
SWP d
SHL c
SHR b
JUMP 67
RST a
ADD d
SWP b
RST a
ADD b
SWP c
RST a
ADD b
SWP b
RST d
RST a
ADD b
JZERO 115
RST a
ADD b
SWP e
SHR e
SHL e
RST a
ADD b
SUB e
JZERO 112
RST a
ADD d
ADD c
SWP d
SHL c
SHR b
JUMP 96
RST a
ADD d
SWP b
RST a
ADD b
SWP c
RST a
ADD b
SWP b
RST d
RST a
ADD b
JZERO 144
RST a
ADD b
SWP e
SHR e
SHL e
RST a
ADD b
SUB e
JZERO 141
RST a
ADD d
ADD c
SWP d
SHL c
SHR b
JUMP 125
RST a
ADD d
SWP b
RST a
ADD b
WRITE
HALT
