JUMP 1
READ
SWP b
READ
SWP c
RST a
ADD b
STORE 0
RST a
ADD c
STORE 1
RST b
RST c
INC c
CALL 26
LOAD 0
SWP d
LOAD 1
SWP e
RST a
ADD d
WRITE
RST a
ADD e
WRITE
HALT
SWP d
RLOAD b
SWP e
RLOAD c
SWP f
RST a
ADD f
RSTORE b
RST a
ADD e
RSTORE c
SWP d
RTRN
