JUMP 190
SWP b
RST c
RST a
ADD c
SWP h
LOAD 4611686018427387899
SWP h
RSTORE h
LOAD 4611686018427387903
SWP h
RLOAD h
SWP c
LOAD 4611686018427387900
SWP h
RLOAD h
SWP d
RST a
ADD c
SWP c
RST a
ADD d
SWP d
RST e
RST f
INC f
RST a
ADD c
SUB d
RST a
ADD d
SUB c
JPOS 36
SHL d
SHL f
JUMP 26
RST a
ADD f
JZERO 57
RST a
ADD c
SUB d
RST a
ADD d
SUB c
JPOS 54
RST a
ADD c
SUB d
SWP c
RST a
ADD e
ADD f
SWP e
SHR d
SHR f
JUMP 36
RST a
ADD c
SWP c
RST a
ADD c
RST d
SUB d
JZERO 67
SWP b
RTRN
LOAD 4611686018427387903
SWP h
RLOAD h
SWP b
LOAD 4611686018427387900
SWP h
RLOAD h
SWP d
RST a
ADD b
SWP b
RST a
ADD d
SWP d
RST e
RST f
INC f
RST a
ADD b
SUB d
RST a
ADD d
SUB b
JPOS 94
SHL d
SHL f
JUMP 84
RST a
ADD f
JZERO 115
RST a
ADD b
SUB d
RST a
ADD d
SUB b
JPOS 112
RST a
ADD b
SUB d
SWP b
RST a
ADD e
ADD f
SWP e
SHR d
SHR f
JUMP 94
RST a
ADD e
SWP b
RST a
ADD b
SWP h
LOAD 4611686018427387903
SWP h
RSTORE h
LOAD 4611686018427387899
SWP h
RLOAD h
SWP b
RST a
ADD b
INC a
SWP b
RST a
ADD b
SWP h
LOAD 4611686018427387899
SWP h
RSTORE h
LOAD 4611686018427387903
SWP h
RLOAD h
SWP b
LOAD 4611686018427387900
SWP h
RLOAD h
SWP d
RST a
ADD b
SWP b
RST a
ADD d
SWP d
RST e
RST f
INC f
RST a
ADD b
SUB d
RST a
ADD d
SUB b
JPOS 165
SHL d
SHL f
JUMP 155
RST a
ADD f
JZERO 186
RST a
ADD b
SUB d
RST a
ADD d
SUB b
JPOS 183
RST a
ADD b
SUB d
SWP b
RST a
ADD e
ADD f
SWP e
SHR d
SHR f
JUMP 165
RST a
ADD b
SWP c
JUMP 60
READ
SWP h
LOAD 4611686018427387901
SWP h
STORE 4611686018427387901
SWP h
RST b
INC b
SHL b
RST a
ADD b
SWP c
RST a
ADD b
SWP d
RST e
RST a
ADD d
JZERO 225
RST a
ADD d
SWP f
SHR f
SHL f
RST a
ADD d
SUB f
JZERO 222
RST a
ADD e
ADD c
SWP e
SHL c
SHR d
JUMP 206
RST a
ADD e
SWP c
JUMP 264
RST a
SWP h
LOAD 4611686018427387902
ADD h
INC a
SWP b
RST a
ADD b
SWP d
RST a
ADD b
SWP e
RST f
RST a
ADD e
JZERO 261
RST a
ADD e
SWP g
SHR g
SHL g
RST a
ADD e
SUB g
JZERO 258
RST a
ADD f
ADD d
SWP f
SHL d
SHR e
JUMP 242
RST a
ADD f
SWP c
RST a
ADD c
SWP h
LOAD 4611686018427387901
SWP h
SUB h
JPOS 272
JUMP 291
RST a
SWP h
LOAD 4611686018427387898
ADD h
RST c
INC c
SUB c
JZERO 347
RST a
SWP h
LOAD 4611686018427387898
ADD h
WRITE
RST c
INC c
RST a
ADD c
WRITE
JUMP 347
RST a
SWP h
LOAD 4611686018427387901
ADD h
STORE 0
RST a
ADD b
STORE 1
RST a
RST b
ADD b
STORE 2
RST b
RST b
SWP h
LOAD 4611686018427387900
INC a
STORE 4611686018427387900
SWP h
RST b
SWP h
LOAD 4611686018427387899
INC a
STORE 4611686018427387899
SWP h
SHL b
CALL 1
LOAD 0
SWP h
LOAD 4611686018427387898
SWP h
STORE 4611686018427387898
SWP h
LOAD 1
SWP h
LOAD 4611686018427387902
SWP h
STORE 4611686018427387902
SWP h
LOAD 2
SWP b
RST a
ADD b
RST c
SUB c
JPOS 338
JUMP 229
RST a
SWP h
LOAD 4611686018427387902
ADD h
WRITE
RST a
ADD b
WRITE
JUMP 229
HALT
