READ
SWP h
LOAD 4611686018427387902
SWP h
STORE 4611686018427387902
SWP h
READ
SWP h
LOAD 4611686018427387903
SWP h
STORE 4611686018427387903
SWP h
READ
SWP b
RST a
INC a
SHL a
SHL a
SHL a
DEC a
SHL a
SHL a
DEC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
DEC a
SHL a
SHL a
INC a
SHL a
SHL a
DEC a
SWP c
RST a
SWP d
RST a
SWP e
RST a
ADD c
RST a
INC a
SHL a
SHL a
SHL a
DEC a
SHL a
SHL a
DEC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
DEC a
SHL a
SWP h
SUB h
JPOS 74
JUMP 90
RST a
SWP h
LOAD 4611686018427387902
SWP h
ADD h
WRITE
RST a
SWP h
LOAD 4611686018427387903
SWP h
ADD h
WRITE
RST a
ADD b
WRITE
HALT
RST a
INC a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
SHL a
INC a
SWP f
RST a
RST a
INC a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
SHL a
SWP g
ADD g
SUB f
JPOS 120
JUMP 132
RST a
ADD b
ADD c
SWP b
INC c
RST a
SWP h
LOAD 4611686018427387901
SWP h
ADD h
SWP d
JUMP 44
RST a
INC a
SHL a
INC a
SHL a
SHL a
DEC a
SWP h
LOAD 4611686018427387901
SWP h
STORE 4611686018427387901
SWP h
RST a
SWP h
LOAD 4611686018427387901
SWP h
ADD h
RST a
INC a
SHL a
SHL a
INC a
SHL a
SHL a
SWP h
SUB h
JPOS 160
JUMP 185
RST a
SWP h
LOAD 4611686018427387903
SWP h
ADD h
ADD f
SWP h
LOAD 4611686018427387903
SWP h
STORE 4611686018427387903
SWP h
RST a
ADD f
DEC a
SWP e
RST a
ADD e
SWP f
RST a
SWP h
LOAD 4611686018427387901
SWP h
ADD h
SWP d
JUMP 103
RST a
SWP h
LOAD 4611686018427387902
SWP h
ADD h
SWP h
LOAD 4611686018427387901
SWP h
ADD h
SWP h
LOAD 4611686018427387902
SWP h
STORE 4611686018427387902
SWP h
SWP h
LOAD 4611686018427387901
INC a
STORE 4611686018427387901
SWP h
JUMP 144
