JUMP 75
SWP h
LOAD 4611686018427387899
SWP h
STORE 4611686018427387899
SWP h
RST d
INC d
RST a
ADD d
SWP h
LOAD 4611686018427387900
SWP h
RSTORE h
RLOAD c
SWP h
LOAD 4611686018427387901
SWP h
STORE 4611686018427387901
SWP h
RLOAD b
SWP d
LOAD 4611686018427387898
SWP h
RLOAD h
SWP e
RST a
ADD d
SWP d
RST a
ADD e
SWP e
RST f
RST g
INC g
RST a
ADD d
SUB e
RST a
ADD e
SUB d
JPOS 45
SHL e
SHL g
JUMP 35
RST a
ADD g
JZERO 66
RST a
ADD d
SUB e
RST a
ADD e
SUB d
JPOS 63
RST a
ADD d
SUB e
SWP d
RST a
ADD f
ADD g
SWP f
SHR e
SHR g
JUMP 45
RST a
ADD d
SWP h
LOAD 4611686018427387902
SWP h
STORE 4611686018427387902
SWP h
RST d
JUMP 265
READ
SWP d
READ
SWP e
READ
SWP f
RST a
ADD d
STORE 0
RST a
ADD e
STORE 1
RST a
ADD f
STORE 2
RST a
RST d
ADD d
STORE 3
RST b
RST c
INC c
RST b
SWP h
LOAD 4611686018427387898
INC a
STORE 4611686018427387898
SWP h
SHL b
RST b
SWP h
LOAD 4611686018427387900
INC a
STORE 4611686018427387900
SWP h
SHL b
SWP h
LOAD 4611686018427387900
INC a
STORE 4611686018427387900
SWP h
CALL 1
LOAD 0
SWP b
LOAD 1
SWP b
LOAD 2
SWP b
LOAD 3
SWP b
RST a
ADD b
WRITE
HALT
RST b
INC b
SHL b
RST a
SWP h
LOAD 4611686018427387901
ADD h
SWP c
RST a
ADD b
SWP b
RST d
RST e
INC e
RST a
ADD c
SUB b
RST a
ADD b
SUB c
JPOS 153
SHL b
SHL e
JUMP 143
RST a
ADD e
JZERO 174
RST a
ADD c
SUB b
RST a
ADD b
SUB c
JPOS 171
RST a
ADD c
SUB b
SWP c
RST a
ADD d
ADD e
SWP d
SHR b
SHR e
JUMP 153
RST a
ADD d
SWP h
LOAD 4611686018427387901
SWP h
STORE 4611686018427387901
SWP h
RST a
SWP h
LOAD 4611686018427387902
ADD h
SWP b
RST a
SWP h
LOAD 4611686018427387902
ADD h
SWP c
RST d
RST a
ADD c
JZERO 211
RST a
ADD c
SWP e
SHR e
SHL e
RST a
ADD c
SUB e
JZERO 208
RST a
ADD d
ADD b
SWP d
SHL b
SHR c
JUMP 192
RST a
ADD d
SWP b
LOAD 4611686018427387898
SWP h
RLOAD h
SWP c
RST a
ADD b
SWP b
RST a
ADD c
SWP c
RST d
RST e
INC e
RST a
ADD b
SUB c
RST a
ADD c
SUB b
JPOS 237
SHL c
SHL e
JUMP 227
RST a
ADD e
JZERO 258
RST a
ADD b
SUB c
RST a
ADD c
SUB b
JPOS 255
RST a
ADD b
SUB c
SWP b
RST a
ADD d
ADD e
SWP d
SHR c
SHR e
JUMP 237
RST a
ADD b
SWP h
LOAD 4611686018427387902
SWP h
STORE 4611686018427387902
SWP h
RST a
SWP h
LOAD 4611686018427387901
ADD h
RST b
SUB b
JPOS 278
SWP h
LOAD 4611686018427387899
SWP h
STORE 4611686018427387899
SWP h
RTRN
RST b
INC b
SHL b
RST a
SWP h
LOAD 4611686018427387901
ADD h
SWP c
RST a
ADD b
SWP b
RST d
RST e
INC e
RST a
ADD c
SUB b
RST a
ADD b
SUB c
JPOS 302
SHL b
SHL e
JUMP 292
RST a
ADD e
JZERO 323
RST a
ADD c
SUB b
RST a
ADD b
SUB c
JPOS 320
RST a
ADD c
SUB b
SWP c
RST a
ADD d
ADD e
SWP d
SHR b
SHR e
JUMP 302
RST a
ADD c
SWP h
LOAD 4611686018427387903
SWP h
STORE 4611686018427387903
SWP h
RST a
SWP h
LOAD 4611686018427387903
ADD h
RST b
INC b
SUB b
JZERO 339
JUMP 129
LOAD 4611686018427387900
SWP h
RLOAD h
SWP b
RST a
ADD b
SWP b
RST a
SWP h
LOAD 4611686018427387902
ADD h
SWP c
RST d
RST a
ADD c
JZERO 371
RST a
ADD c
SWP e
SHR e
SHL e
RST a
ADD c
SUB e
JZERO 368
RST a
ADD d
ADD b
SWP d
SHL b
SHR c
JUMP 352
RST a
ADD d
SWP b
RST a
ADD b
SWP h
LOAD 4611686018427387900
SWP h
RSTORE h
LOAD 4611686018427387900
SWP h
RLOAD h
SWP b
LOAD 4611686018427387898
SWP h
RLOAD h
SWP c
RST a
ADD b
SWP b
RST a
ADD c
SWP c
RST d
RST e
INC e
RST a
ADD b
SUB c
RST a
ADD c
SUB b
JPOS 407
SHL c
SHL e
JUMP 397
RST a
ADD e
JZERO 428
RST a
ADD b
SUB c
RST a
ADD c
SUB b
JPOS 425
RST a
ADD b
SUB c
SWP b
RST a
ADD d
ADD e
SWP d
SHR c
SHR e
JUMP 407
RST a
ADD b
SWP b
RST a
ADD b
SWP h
LOAD 4611686018427387900
SWP h
RSTORE h
JUMP 129
