READ
SWP b
RST a
ADD b
ADD b
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
ADD c
SWP c
RST a
ADD c
ADD b
SWP b
RST a
ADD b
WRITE
HALT
