READ
SWP b
RST c
RST a
ADD c
STORE 0
RST c
INC c
RST a
ADD c
STORE 101
RST c
RST a
ADD c
STORE 202
RST c
INC c
RST a
ADD c
STORE 1
RST c
INC c
RST a
ADD c
STORE 102
RST c
INC c
RST a
ADD c
STORE 203
RST c
INC c
SHL c
RST d
RST e
JUMP 226
RST a
ADD c
DEC a
SWP e
RST a
ADD e
DEC a
SWP d
RST a
SWP f
RST a
ADD e
SUB f
SWP f
RST a
INC a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
ADD f
SWP f
RLOAD f
SWP f
RST a
ADD f
INC a
SWP f
RST a
SWP g
RST a
ADD c
SUB g
SWP g
RST a
INC a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
ADD g
SWP g
RST a
ADD f
RSTORE g
RST a
SWP f
RST a
ADD e
SUB f
SWP f
RST a
ADD f
SWP f
RLOAD f
SWP f
RST a
SWP g
RST a
ADD d
SUB g
SWP g
RST a
ADD g
SWP d
RLOAD d
SWP d
RST a
ADD f
ADD d
SWP d
RST a
SWP f
RST a
ADD c
SUB f
SWP f
RST a
ADD f
SWP f
RST a
ADD d
RSTORE f
RST a
SWP d
RST a
ADD e
SUB d
SWP d
RST a
INC a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
ADD d
SWP d
RLOAD d
SWP d
RST a
SWP e
RST a
ADD c
SUB e
SWP e
RST a
INC a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
SHL a
ADD e
SWP e
RLOAD e
SWP e
RST a
ADD d
SWP d
RST a
ADD e
SWP e
RST f
RST a
ADD e
JZERO 200
RST a
ADD e
SWP g
SHR g
SHL g
RST a
ADD e
SUB g
JZERO 197
RST a
ADD f
ADD d
SWP f
SHL d
SHR e
JUMP 181
RST a
ADD f
SWP d
RST a
SWP e
RST a
ADD c
SUB e
SWP e
RST a
INC a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
ADD e
SWP e
RST a
ADD d
RSTORE e
INC c
RST a
ADD c
SUB b
JPOS 231
JUMP 36
RST a
SWP c
RST a
ADD b
SUB c
SWP c
RST a
INC a
SHL a
INC a
SHL a
SHL a
SHL a
INC a
SHL a
SHL a
INC a
ADD c
SWP c
RLOAD c
SWP c
RST a
ADD c
WRITE
RST a
SWP c
RST a
ADD b
SUB c
SWP c
RST a
ADD c
SWP b
RLOAD b
SWP b
RST a
ADD b
WRITE
HALT
